<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8083" />
    <add key="WorkerExePath" value="C:\inetpub\btr-portal-worker\btr.portal.worker.exe" />
    <add key="HealthPollIntervalSeconds" value="30" />
    <add key="ApiTimeoutSeconds" value="30" />
    <add key="RefreshToken" value="" />
  </appSettings>
</configuration>
